div {
    margin: 1px;
    border-style: solid;
    padding: 10px, 10px, 10px, 10px;
    border-radius: 10px;
}

h1 {
    color: chocolate;
}

h4 {
    color: cornflowerblue;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

img {
    padding: 10px;
    height: 150px;
    width: 150px;
}

.titulo {
    color: brown;
}

.titulo-producto {
    color: darkgreen;
    text-align: center;
    font-weight: bold;
}

.contenido-producto {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-style: italic;        
}

.main{      
    height: 1100px;
    text-align: center;
}

.individual
{
    width: 32%;
    display: inline-block;
}

.general
{
    align-items: center;
    height: 1200px;
    width: 1200px;
}