.main { color: blue }
.titulo {font-size: x-large}
.bold {font-weight: bold}

h2 {color: red}

#perfil-profesional { font-size: x-large; font-family: cursive}
#datos-personales {  text-align: right; font-family: cursive}

[data-experience~="2016"] { background-color: chartreuse }
[data-experience~="2017"] { font-style: italic }

#mailto:hover {font-style: oblique; background-color: palevioletred}
#mailto:visited {color: red}